<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenu{% endblock %}</title>
        {% block stylesheets %}
            {% include '::css.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="main">
            {% include 'navigation.html.twig' %}
            <div id="content-container">
                {% include 'header.html.twig' %}
                <div id="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
