{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <button class="btn btn-primary btn-submit">Submit</button>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $('.js-ical').on('click', function (e) {
                    let ical = "BEGIN:VCALENDAR\r\n"+
                    "VERSION:2.0\r\n"+
                    "CALSCALE:GREGORIAN\r\n"+
                    "METHOD:PUBLISH\r\n"+
                    "BEGIN:VEVENT\r\n"+
                    "DTSTART:20200224T120000Z\r\n"+
                    "DTEND:20200224T130000Z\r\n"+
                    "DTSTAMP:20200224T124628Z\r\n"+
                    "SEQUENCE:1\r\n"+
                    "STATUS:TENTATIVE\r\n"+
                    "SUMMARY:ééé èèèè\r\n"+
                    "DESCRIPTION: àààààààààààààà éééééééééééééééééé ______ èèèèèèèèè \r\n"+
                    "TRANSP:OPAQUE\r\n"+
                    "END:VEVENT\r\n"+
                    "END:VCALENDAR";
                                        window.open( "data:text/calendar;charset=utf8," + escape(ical));
            });

            $('.btn-submit').on('click',function (e) {
               e.stopPropagation();
               e.preventDefault();
               $.ajax({
                   url: Routing.generate('website_home_spec'),
                   method: 'POST',
                   data: $('form').serializeArray(),
                   success: function (datas) {
                       let element = document.createElement('a');
                      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + datas);
                      element.setAttribute('download', "test.ics");
                      element.click();
                   }
               })
            });
        });
    </script>
{% endblock %}